﻿@model StoreApp.Models.Items

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Items</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iten_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iten_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.item_left)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.item_left)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.item_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.item_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.item_weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.item_weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price_per_unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price_per_unit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shippg_day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shippg_day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.score)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updated_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated_at)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
