﻿@model IEnumerable<StoreApp.Models.Items>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.owner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.iten_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.item_left)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.item_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.item_weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price_per_unit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shippg_day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_at)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updated_at)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.owner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.iten_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.item_left)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.item_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.item_weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price_per_unit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shippg_day)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created_at)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.updated_at)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
